<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="container2">
    <div class="login-heading">Add new user</div>
    <form action="/UserAdded" class="form" method="POST">

      <input required="" class="input" type="Yourusername" name="Your_username" id="Your-username" placeholder="Your username">
      <input required="" class="input" type="username" name="Newusername" id="New-username" placeholder="New-username">
      <input required="" class="input" type="acess-key" name="acessKey" id="acess-key" placeholder=" new acess key">
     
      <input class="login-button" type="submit" value="Add-User">
      
    </form>
    
  </div>

    
</body>
</html>