<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="login-Heading" > 
     <h1 class="itname"> Smart Bin Management System </h1>
  </div>


    <div class="container2">
    <div class="login-heading">Sign In</div>


    <form action="/login" class="form" method="POST">

      <input required="" class="input" type="username" name="username" id="username" placeholder="username">
      <input required="" class="input" type="acessKey" name="acessKey" id="acess-key" placeholder="acess key">
     
      <input class="login-button" type="submit" value="login">
      
    </form>
    
  </div>


</body>
</html>