<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="container2">
    <div class="login-heading">Welcome</div>
    <form action="/signUp" class="form" method="POST">

      <input required="" class="input" type="username" name="Newusername" id="New-username" placeholder="your username (please use dut4life)">
      <input required="" class="input" type="acess-key" name="acessKey" id="acess-key" placeholder=" new acess key">
        <input required="" class="input" type="acess-key" name="CacessKey" id="acess-key" placeholder="confirm acess key">

     
      <input class="login-button" type="submit" value="Sign New user">
      
    </form>
    
  </div>

    
</body>
</html>