*{
  margin:0px;
  padding:0px;

  background-color: light;


}


.navBar{
 
       width:100%;
       height: 90px;

       border: none;

       display:flex;
       align-items:flex-end;
       justify-content:space-evenly;


}

.login-Heading{
display:flex;
align-items: center;
justify-content: center;

margin-top: 80px;


}

.itname{
font-weight:bolder;
font-style: oblique;

  font-size: clamp(1.5rem, 5vw, 3rem);
}

.heading{

  width: 55%;
  height: 60px;

  
  padding: 5px;
  font-weight: bold;

  background: linear-gradient(45deg, rgb(16, 211, 120) 0%, rgb(40, 209, 18) 100%);


  margin: 0px;
   font-size: 120%;

   display:flex;
   align-items: center;
   justify-content: center;

  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    font-family: "Oswald", sans-serif;

      font-size: clamp(1.5rem, 4vw, 3rem);

}





.hrLine{
    width: 90%;
    height: 3px;
  background-color:#98dd99;
    margin: 1 auto;
    color:#98dd99;
 
    position: absolute;
    left:5%

}

.Part1{

 background-color: white;

  border:2px solid black;

  margin-top: 80px;

  width: 50%;
  height: 170px;

  margin-left: 20%;

  display:flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;
}

.bin-level-text{
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px;
 font-weight: bold;

}

.outerBar{

  border: 4px solid #08c90b;
  height: 40px;

border-radius: 10px;
}



.avalability{
     font-size:large;
     font-weight: bold;
     font-family: "Oswald", sans-serif;
    
     margin-top: 10px;

}



.card{

  width: 70%;
  margin-top: 30px;
  margin-left: 10%;
}

.container2 {
  max-width: 350px;
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;


  position:absolute;
  top:50%;
  left:50%;


  translate: -50% -50%;

}

.login-heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(61, 211, 16);

}
.custom-btn {
  background-color: #28a745; /* your green */
  color: white;
  border: none;
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: -20px;
  box-shadow: #e9f7ef 0px 10px 10px -5px;

  margin-right: 50px;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}


.btn.btn-success{
  background: linear-gradient(45deg, rgb(16, 211, 120) 0%, rgb(40, 209, 18) 100%);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
   font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn.btn-success:active{
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;

}

.btn.btn-secondary.dropdown-toggle{
  background-color: #08c90b;
}
.btn-logout{
  border:none
}

.btn.btn-success:hover{
  transform: scale(1.03);
  box-shadow: rgba(163, 167, 168, 0.878) 0px 23px 10px -20px;

}
.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 211, 120) 0%, rgb(40, 209, 18) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

